@import "./normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main > main {
  flex: 1;
}
